{% extends "graffiki_app/base.html" %}
{% block content %}
	<head>
		<style>
	      #map-canvas {
	        width: 500px;
	        height: 400px;
	      }
	    </style>
		<title>Google Maps page</title>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqP4-xRsz-OkST5aq80-ILN-QUc1yKHN8"></script>
		<script>
		  function initialize() {
			  var mapOptions = {
			    zoom: 10,
			    center: new google.maps.LatLng(49.260872, -123.113953)
			  }
			  var map = new google.maps.Map(document.getElementById('map-canvas'),
			                                mapOptions);

			  setMarkers(map);
			}

			/**
			 * Data for the markers consisting of a name, a LatLng and a zIndex for
			 * the order in which these markers should display on top of each
			 * other.
			 */
			// var graffitiLocations = [
			//   [49.260872, -123.113953],


			// ];





				// graffitiLocations = [];
				// {% for graffiti in graffitis %}
				// g = [{{ graffiti.lat }}, {{graffiti.lon}}];
				// graffitiLocations.push(g);
				// {% endfor %}

				// graffitiComments = [];
				// {% for graffiti in graffitis %}
				// g = [{{ graffiti.comment }}, {{graffiti.comment}}];
				// graffitiComments.push(g);
				// {% endfor %}

				// graffitiPhotos = [];
				// {% for graffiti in graffitis %}
				// g = [{{ graffiti.photo }}, {{graffiti.photo}}];
				// graffitiPhotoss.push(g);
				// {% endfor %}

		  function setMarkers(map, locations) {
			  // Add markers to the map

			  // Marker sizes are expressed as a Size of X,Y
			  // where the origin of the image (0,0) is located
			  // in the top left of the image.

			  // Origins, anchor positions and coordinates of the marker
			  // increase in the X direction to the right and in
			  // the Y direction down.
			  var image = {
			    url: 'http://www.google.com/mapfiles/marker.png',
			    // This marker is 20 pixels wide by 32 pixels tall.
			    size: new google.maps.Size(20, 32),
			    // The origin for this image is 0,0.
			    origin: new google.maps.Point(0,0),
			    // The anchor for this image is the base of the flagpole at 0,32.
			    anchor: new google.maps.Point(0, 32)
			  };
			  // Shapes define the clickable region of the icon.
			  // The type defines an HTML &lt;area&gt; element 'poly' which
			  // traces out a polygon as a series of X,Y points. The final
			  // coordinate closes the poly by connecting to the first
			  // coordinate.
			  var shape = {
			      coords: [1, 1, 1, 20, 18, 20, 18 , 1],
			      type: 'poly'
			  };


			  // for (var i = 0; i < locations.length; i++) {
			  //   var graffiti = locations[i];
			  //   var myLatLng = new google.maps.LatLng(graffiti[0], graffiti[1]);
			  //   var marker = new google.maps.Marker({
			  //       position: myLatLng,
			  //       map: map,
			  //       icon: image,
			  //       shape: shape

				 // });

    // google.maps.event.addListener(marker, 'click', function() { 

    // 	document.getElementById("sidebarStuff").innerHTML = graffiti[0];

       
    // }); 

			 //  }



			 	{% for graffiti in graffitis %}
				g = [{{ graffiti.lat }}, {{ graffiti.lon }}];
				// gp = {{ graffiti.photo }};
				// gd = {{ graffiti.description }};
				var myLatLng = new google.maps.LatLng(g[0], g[1]);
				var marker = new google.maps.Marker({
			        position: myLatLng,
			        map: map,
			        icon: image,
			        shape: shape
			        });
			    google.maps.event.addListener(marker, 'click', function() { 
    			document.getElementById("sidebarStuff").innerHTML = {{graffiti.lat}};
    			
			 });
				{% endfor %}
				
			}

		  google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		
			


	</head>
	
	<nav>
	<div id="status"><!--fb share button--><a href="https://www.facebook.com/dialog/feed?
  app_id=505986829554923&
  link=http://blueberrynfig.pythonanywhere.com&
  picture=http://i59.tinypic.com/2v80cw0.png&
  name=Graffiki!&
  caption=Graffiki&
  description=I'm%20using%20Graffiki%20to%20check%20out%20the%20best%20graffiti%20sites%20in%20Vancouver!&
  redirect_uri=http://blueberrynfig.pythonanywhere.com" target="_blank">
<img src="http://shopify.barrelny.com/wp-content/uploads/2014/06/facebook-share-button.png" height="25"></a></div>
	</nav>




	
	<body>



		<div id="map-canvas"></div>
		<div id="capture"></div>
		<div id="fb-root"></div>
		<div id="sidebarStuff"></div>

	</body>
	
{% endblock %}